.mako{
    display:inline;
}
#header{
    
   
    color:#f73378;
    font-size:25px;
    font-family: 'Borel', cursive;
}

#subheader{
    color:deepskyblue;
    font-size:small;
    
    font-family: 'REM', sans-serif;
}
.guru{

    display:flex;


}
#hdimg{
    height:50px;
   
}
#text{
    display:block;
    font-size:6px;
    color:#ff1744;
    font-family: 'Borel', cursive;
}

#img1{
width:70px;
max-height:70px;
}
#img2{
width:60px;
max-height:80px;
}

#one{
   flex:1;
   height:100px;
   width:20%;
   
   background-color:whitesmoke;
}

#two{
width:50%;
margin-right:20px;
    
background-color:whitesmoke;
 border-spacing:10px;
}

#button{
    color:white;
    background-color:#4CAF50;
    border:none;
    padding:auto;
    text-align:center;
    display:inline-block;
    border-radius:6px;
    margin-left:7px;
    font-size:10px;
}
#button2{
    color:white;
    background-color:royalblue;
    border:none;
    padding:auto;
    text-align:center;
    display:inline-block;
    border-radius:6px;
    margin-left:7px;
    font-size:10px;
}


#text2{
    display:block;
    font-size:6px;
    color:green;
    font-family: 'Borel', cursive;


}